---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="404 Not Found">
  <PageHeader title="404 Not Found" />
  <div class="container">
    <p>This page does not exist. Don't worry though, we got you.</p>
    <p>Let's get you home and recovering 🚀</p>
  </div>
</DefaultLayout>
