---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/ScrumHero.astro'
import Feature from '@components/Feature.astro'
import { steps } from '../content/12-steps.js'
import CallToAction from '@components/CallToAction.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-24">
    <div class="container">
      <img src="/the-path.webp" alt="The path from scrum to lean" class="w-full" />
    </div>
  </section>
  <section class="my-64" id="12-steps">
    <div class="container">
      <h2 class="mb-16 text-6xl">A Program for Scrum Recovery</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        {
          steps.map((step) => (
            <Feature icon={step.icon} title={step.title} number={step.number}>
              <Fragment
                set:html={step.content
                  .replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>')
                  .replace(/\*(.*?)\*/g, '<em>$1</em>')}
              />
            </Feature>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
