---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import { site } from '../config.mjs'
---

<section class="hero my-24">
  <div class="container">
    <h1 class="mb-8 text-center text-6xl md:text-left lg:text-8xl">
      <span class="text-gradient">{site.title}</span>
    </h1>
    <div class="grid grid-cols-1 items-start gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <p class="text-center md:text-left">
          Scrum ceremonies piling up like empty pizza boxes? Sprint burndown giving you heartburn? Have you compulsively
          estimated a sandwich in story points??
        </p>
        <p class="text-center md:text-left">
          Welcome to Scrumnonymous, where we admit we're powerless over scummy <b>A</b>gile and decide to hand our
          schedules—and sanity—over to Lean Software Development principles.
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/#12-steps">
            <Icon name="lucide:list-checks" />
            The 12 Steps
          </a>
          <a class="button has-icon color-secondary" href="/#get-help">
            <Icon name="lucide:life-buoy" />
            Get Help
          </a>
        </div>
      </div>
      <Image
        class="hidden lg:block"
        src="/dumpster-fire.webp"
        alt="A dumpster fire representing Scrum's impact on agile."
        decoding="async"
        width={600}
        height={450}
        loading="eager"
      />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    font-size: clamp(3rem, 10vw, 6rem);
    text-wrap: balance;
  }

  .text-gradient {
    background: linear-gradient(315deg, var(--dun) 25%, var(--feldgrau));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button {
    border-color: var(--feldgrau);
    background-color: var(--feldgrau);
    color: var(--parchment-1);
  }

  .button.color-secondary {
    border-color: var(--dun);
    background-color: var(--dun);
    color: var(--ebony);
  }

  .button:hover {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--link-hover-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
  }
</style>
